{% extends 'users.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}

    <div class="grix xs12 container">
        <div class="col-xs12"><h1> Modifier profil de {{ app.user.name }} {{ app.user.firstname }}</h1></div>
     {{ form(form) }}
   </div>
{% endblock %}
